EditorWebApp/res/content.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://standards.daktronics.com/2015/control-system"
  targetNamespace="http://standards.daktronics.com/2015/control-system">
  <xs:element id="file-metadata" name="FileMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Size" minOccurs="0" maxOccurs="1" type="xs:long"/>
        <xs:element name="Hash" minOccurs="0" maxOccurs="1" type="xs:hexBinary"/>
        <xs:element name="Hasher" minOccurs="0" maxOccurs="1" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

